# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\bigwork\spring-boot-myacgweb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
